.c-node {
  width: 100px;
  height: 100px;
  @include flex-items(center);

  &__section {
    padding: 10px;
    @include flex-items(center);
    font-size: 14px;
    border: 1px $border-color solid;
    box-shadow: 0px 4px 8px 0px rgba($color-black, 0.12);

    .element-id {
      position: absolute;
      bottom: 0;
    }
  }

  &__content {
    @include flex-items(center);
  }

  &.c-rhomb {
    .c-node__section {
      transform: rotate(45deg);
      width: 70px;
      height: 70px;
      border-radius: 6px;

      .c-node__content {
        transform: rotate(-45deg);
      }
    }
  }

  &.c-circle {
    .c-node__section {
      width: 86px;
      height: 86px;
      border-radius: 50%;
      position: absolute;
    }
  }

  &.c-square {
    .c-node__section {
      width: 86px;
      height: 86px;
      border-radius: 6%;
      position: absolute;
    }
  }

  &__icon {
    display: flex;
  }

  &__text {
    flex-grow: 1;
  }

  .delete-node {
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    padding: 0;
    border-width: 0;
    box-shadow: none;

    @include flex-items(center);
  }

  &:hover {
    .delete-node {
      opacity: 1;
      transition: opacity 0.5s;

      &:hover {
        svg {
          path {
            fill: $color-blue-2;
          }
        }

        transition: all 0.5s;
        background-color: $color-light-gray-4;
      }
    }

    .c-node__node-left {
      background-color: rgba($color-light-gray-3, 0.6);
      border: 1px solid rgba($color-black, 0.03);
    }
  }

  &:focus-within,
  &:focus,
  &:active,
  &.active {
    .c-node__section {
      background: $color-light-gray-6;
      border: 2px solid $color-blue-1;
      box-shadow: 0px 4px 12px rgba($color-blue-1, 0.16);
    }

    .c-node__node-left {
      background: rgba($color-blue-1, 0.05);
      border: 1px solid rgba($color-blue-1, 0.1);
    }
  }

  &__node {
    // reactFlow override
    // hide the card dots
    .react-flow__handle {
      width: 0;
      height: 0;
    }

    &-left {
      position: absolute;
      right: 80px;
      background-color: rgba($color-light-gray-3, 0.35);
      backdrop-filter: blur(1px);
      border-radius: 8px;
      border: 1px solid transparent;

      &__platforms {
        span {
          position: absolute;
          top: -12px;
          left: -12px;
        }

        img {
          width: 36px;
          height: 36px;
          border: 1px solid $color-light-gray-5;
          border-radius: 50%;
          background-color: $color-white;
        }
      }

      p {
        margin: 24px;
        min-width: 150px;
        max-width: 320px;
        max-height: 80px;
        width: max-content;
        height: max-content;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
      }
    }
  }
}
