# Main backend domains/APIs
REACT_APP_INTEGRATIONS_API='https://3e0s3dda4e.execute-api.us-west-2.amazonaws.com/Stage'
REACT_APP_USERS_API='https://kl8n7k8y11.execute-api.us-west-2.amazonaws.com/Stage'
REACT_APP_PLAYBOOKS_API='https://d6tv50qq12.execute-api.us-west-2.amazonaws.com/Prod'
REACT_APP_POST_ACTION_API='https://4qol2njzh0.execute-api.us-west-2.amazonaws.com/dev'
REACT_APP_METADATA_API='https://0hu3mjnyd9.execute-api.us-west-2.amazonaws.com/Prod'
REACT_APP_WS_URL='wss://9e6lmf7gq6.execute-api.us-west-2.amazonaws.com/Prod'
REACT_APP_WS_CONNECTION_URL='https://9e6lmf7gq6.execute-api.us-west-2.amazonaws.com/Prod/@connections'

# AWS Cognito User pool
REACT_APP_REGION='us-XXX-XX'
REACT_APP_USER_POOL_ID='us-XXX-XXXX'
REACT_APP_APP_CLIENT_ID='XXXX'
REACT_APP_IDENTITY_POOL_ID: ''

REACT_APP_ENV='local'

# dev variables for selecting multiple backends, separate them by comas
