.remove-group--modal {
  .ant-modal-body {
    text-align: center;
    font-size: 16px;

    @include media-gt-md {
      padding-top: 100px;
      padding-bottom: 100px;
    }
  }
}

#add_group_form {
  .ant-form-item-label > label {
    text-align: center;
    font-weight: 600;
  }

  .ant-input-password,
  .ant-form-item-control-input-content {
    height: 40px;
  }
}

.add-group--modal {
  .ant-modal-body {
    @include media-gt-md {
      padding-top: 40px;
      padding-bottom: 85px;
    }
  }
}

.members--modal {
  .ant-table-thead > tr > th {
    border-top: 0;
  }
}
