@font-face {
  font-family: 'Hknova';
  src: url('../assets/fonts/HKNova-Thin.otf') format('opentype');
  font-weight: 100;
  font-style: normal;
  font-display: auto;
}
@font-face {
  font-family: 'Hknova';
  src: url('../assets/fonts/HKNova-ExtraLight.otf') format('opentype');
  font-weight: 200;
  font-style: normal;
  font-display: auto;
}

@font-face {
  font-family: 'Hknova';
  src: url('../assets/fonts/HKNova-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: auto;
}

@font-face {
  font-family: 'Hknova';
  src: url('../assets/fonts/HKNova-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: auto;
}

@font-face {
  font-family: 'Hknova';
  src: url('../assets/fonts/HKNova-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: auto;
}
@font-face {
  font-family: 'Hknova';
  src: url('../assets/fonts/HKNova-SemiBold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
  font-display: auto;
}

@font-face {
  font-family: 'Hknova';
  src: url('../assets/fonts/HKNova-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: auto;
}

@font-face {
  font-family: 'Hknova';
  src: url('../assets/fonts/HKNova-ExtraBold.otf') format('opentype');
  font-weight: 800;
  font-style: normal;
  font-display: auto;
}