$color-primary: #183056;
// Interactions
$color-light-blue: #3a84ff;
// Callouts & alerts
$color-red: #ef4d79;
// Tertiary elements
$color-purple: #5643ac;
// Body font
$color-font-main: #111111;
// Secondary text
$color-font-secondary: #777777;
$color-secondary-dark-blue: #10131c;
$color-dark-blue: #13113f;
$color-dark-blue-1: #10131c;
$color-dark-blue-2: #3e4558;
$color-blue: #0041d0;
$color-blue-1: #0077fa;
$color-blue-2: #303ef5;
// error text
$color-font-error: #eb2058;
// inputs
$color-input: #dbdad8;
// backgrounds
// gray actions
$color-gray-1: #f3f4f5;
$color-gray-2: #aaaaaa;
$color-gray-3: #a2a7b3;
$color-gray-4: #f8f8f8;
$color-gray-5: #f0f2f3;
$color-gray-6: #f6f6f6;
$color-gray-7: #999da8;
$color-light-gray: #f7fbff;
$color-light-gray-1: #fdfdfd;
$color-light-gray-2: #cdd0d8;
$color-light-gray-3: #ebebeb;
$color-light-gray-4: #eaecfe;
$color-light-gray-5: #d6d6d6;
$color-light-gray-6: #eef6ff;
$color-dark-gray: #555;
$color-dark-gray-1: #557;
// borders & rules
$border-color: #dddddd;
// new notification
$color-orange: #ff9900;

$color-white: #ffffff;
$color-black: #000000;
$color-black-1: #111;
$color-black-2: #1c1f23;
// TODO: color hover states
