// variables
$border-color: #cdd0d8;
$placeholder-color: #eff7ff;
$color-blue-primary: #0077fa;
$button-transition: border-color 0.2s ease-in, border-width 0.2s ease-in, width 0.4s ease-in, height 0.4s ease-in;

$content-bg-transition: background-color 0.8s ease-in, height 0.4s ease-in, width 0.4s ease-in;

$plus-sign-transition: visibility 0.5s ease-in, opacity 0.5s ease-in;

@mixin addTransition($transition) {
  -webkit-transition: $transition;
  -moz-transition: $transition;
  -o-transition: $transition;
  -ms-transition: $transition;
  transition: $transition;
}

.react-flow__controls-button {
  box-sizing: content-box;
}

.placeholder--area {
  height: 200px;
  width: 200px;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.playbook-flow {
  .react-flow__edge-path,
  .react-flow__edge.selected .react-flow__edge-path {
    stroke: $border-color;
    stroke-width: 3px;
  }
}

.placeholder--area {
  .edge__button {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    border: 1px dashed transparent;
    border-radius: 50%;
    background-color: $color-white;
    font-size: 12px;
    height: 20px;
    width: 20px;
    line-height: 1;
    padding: 0;
    @include addTransition($button-transition);

    .plus-sign:first-child {
      transform: rotate(90deg);
    }

    .plus-sign {
      position: absolute;
      background: $border-color;
      width: 8px;
      height: 2px;
      visibility: visible;
      opacity: 1;
      @include addTransition($plus-sign-transition);
    }
  }

  .edge--bordered {
    .edge__button {
      border-width: 1px;
      border-color: $color-blue-primary;
    }
  }

  .edge__content {
    &--square {
      .edge__button {
        border-radius: 3px;
      }
    }

    &--rhomb {
      .edge__button {
        border-radius: 3px;
        transform: rotate(45deg);

        .plus-sign {
          &:first-child {
            transform: rotate(45deg);
          }

          &:last-child {
            transform: rotate(-45deg);
          }
        }
      }
    }
  }

  .c-zoom,
  &.c-zoom {
    .edge__button {
      border-width: 2px;
      background-color: $placeholder-color;

      .plus-sign {
        visibility: hidden;
        opacity: 0;
      }
    }

    .edge__content,
    &.edge__content {
      background-color: #fff;

      &--circle {
        .edge__button {
          height: 86px;
          width: 86px;
        }
      }

      &--square {
        .edge__button {
          border-radius: 10px;
          height: 74px;
          width: 74px;
        }
      }

      &--rhomb {
        .edge__button {
          border-radius: 10px;
          height: 68px;
          width: 68px;
        }
      }
    }
  }

  &.c-zoom {
    .edge__content {
      height: 100px;
      width: 100px;
      @include addTransition($content-bg-transition);
    }
  }

  .edge__content {
    height: 20px;
    width: 20px;
    color: $color-blue-primary;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    @include addTransition($content-bg-transition);
  }
}
