.c-source {
  &__item {
    padding: 15px 0;
    border-bottom: 1px solid $border-color;
    display: flex;
  }

  &__name {
    padding-left: 10px;
  }

  &__time {
    font-weight: normal;
    font-size: 12px;
    line-height: 24px;
    color: #999999;
    text-align: right;
    flex-grow: 1;
  }
}
