.c-card {
  background-color: $color-white;
  box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.05);
  border: 2px solid $border-color;
  border-radius: 6px;
  position: relative;

  &--1 {
    padding: 20px 30px;
    margin-bottom: 20px;
  }

  &--2 {
    padding: 25px 25px 45px 25px;
  }
}

.c-subheading {
  &--1 {
    font-size: 20px;
    color: $color-font-main;
    font-weight: 700;
  }
}

.c-body {
  &--1 {
    font-size: 16px;
    color: $color-font-main;
    font-weight: 400;
  }
}
